body {
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    padding: 60px 0;
}

section#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

section#home h2 {
    font-size: 4rem;
}

@media (max-width: 768px) {
    section#home h2 {
        font-size: 2.5rem;
    }
}

